# Dependency directories
node_modules

# Production build output
dist
build

# System files
.DS_Store
Thumbs.db

# Env files (jangan dishare ke publik)
.env
.env.local

# IDE / Editor settings
.vscode
.idea
