<nav
  class="fixed top-0 left-0 w-full z-50 py-4 transition-all duration-300 bg-white bg-opacity-80 shadow-md backdrop-blur-sm"
>
  <div class="container mx-auto px-6 flex justify-between items-center">
    <a href="index.html" class="font-bold text-3xl text-gray-800"
      >Artha Bonsai</a
    >

    <div class="hidden md:flex space-x-8">
      <a
        href="about.html"
        class="text-gray-600 hover:text-green-600 transition duration-300 text-lg"
        >About Us</a
      >
      <a
        href="collections.html"
        class="text-gray-600 hover:text-green-600 transition duration-300 text-lg"
        >Collections</a
      >
      <a
        href="gallery.html"
        class="text-gray-600 hover:text-green-600 transition duration-300 text-lg"
        >Gallery</a
      >
      <a
        href="contact.html"
        class="text-gray-600 hover:text-green-600 transition duration-300 text-lg"
        >Contact Us</a
      >
    </div>
    <button class="md:hidden text-gray-800 text-2xl">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
